{%  extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h2>Welcome to our Fitness Dashboard!</h2>
                <p>We're glad to have you here. Our goal is to help you achieve your fitness goals through personalized workouts, nutrition plans, and support from our community.</p>
                <img src="https://images.pexels.com/photos/3601098/pexels-photo-3601098.jpeg" alt="Fitness image" class="img-fluid">
            </div>
            <div class="col-md-4">
                <h3>Today's Quote</h3>
                <p>"Success isn't always about greatness. It's about consistency. Consistent hard work leads to success. Greatness will come." - Dwayne "The Rock" Johnson</p>
            </div>
        </div>
    </div>

{% endblock %}