{% extends 'base.html' %}

{% block title %} ShapeSync {% endblock %}

{% block head %}

<style>
    /* Optionally, you can add custom styles here */
    body {
        overflow: hidden;
    }

    .full-screen {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; /* Place the image behind other content */
    }
</style>
{% endblock %}

{% block content %}

<div class="container-fluid p-0">
    <img src="{{ url_for('static', filename='images/running.jpg') }}" alt="Running Image" class="img-fluid full-screen">
    <!-- Your content goes here -->
</div>
{% endblock %}